@import '@xeneta/styles/variables';

.price_range{
  &__container {
    display: flex;
    flex-direction: column;
    gap: $basic-margin;
  }

  &__dropdowns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $sm-margin;
  }

  &__dropdown {
    width: 200px;
  }

  &__chart {
    flex-grow: 1;
    height: 300px;
  }
}
