/* colors */
$primary-color: '#5EB5C2';
$primary-color-light: '#ADEBD8';
$primary-color-lighter: '#EAFAF5';

$bg-color: '#DCE5DD';
$bg-color-light: '#F0F4F1';

$text-color: '#2F4858';
$text-color-white: '#FFF';

/* dimensions */
$basic-margin: 20px;
$sm-margin: 10px;

/* breakpoints */
$sm-min-width: 640px;
$md-min-width: 768px;
$lg-min-width: 1024px;
