@import '@xeneta/styles/variables';
@import '@xeneta/styles/main';

:root {
  --primary-color: #771dff;
  --primary-color-light: #d1b3ff;
  --primary-color-lighter: #f0e6ff;
  --text-color: #1f1926;
}

main {
  margin: $basic-margin;
}
